
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.build/
dist/
build/
.DS_Store

.venv/
venv/
env/
.python-version
.ipynb_checkpoints/
.pytest_cache/
.coverage
.mypy_cache/
.dmypy.json


.DS_Store
.vscode/
.idea/

=
.streamlit/secrets.toml
.streamlit/*.toml.local


*.log
*.tmp
*.swp


data/
!data/README.md
models/
!models/README.md

env
__pycache__
test.ipynb
**/__pycache__/
